@media only screen and (max-width: 1080px){
    div.centerCont {
       width: 100%; 
    }
}
html {
	font-family: Verdana;
	font-size: 12pt;
	color: black;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-image: url("../img/brightonIMGmain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	margin: 0px;
	padding: 0px;
}

table {
	width: 100%;
}

h1 {
	font-size: 20pt;
}

h2 {}

h3 {
	color: black;
}

h4 {
	color: #4286f4;
	font-style: italic;
	font-size: 11pt;
	
}

em {
    color: red;
}

a {
	text-decoration: none;
	font-weight: bold;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
	display: inline;
}

fieldset {
    border: 0;
}

.btn {
	font-size: 11pt;
	color: #3d7ae2;
	font-style: italic;
	font-weight: bold;
}


/* mouse over link */

.btn:hover {
	color: orange;
}

.centerContWide {
	width: 80%;
	margin: 0 auto auto;
}

.centerCont {
	width: 60%;
	position: relative;
	margin: 0 auto auto;
}

.centerItems {
	width: 300px;
	margin: 0 auto;
}


/*Requires parent to be set to position: relative*/

.hCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#map {
        height: 450px;
		widows: 100%; 
	background-color: blue;
		
      }

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	clear: both;
}

a.currentPage {
	font-weight: bold !important; 
	text-decoration: underline !important;
	color: orange !important;
}

div.footer {
   position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

